.activity-section {
  padding-top: 0px;

      &__list {
      display: flex;
      }

      &__item {
      justify-content: center;
      }

      &__item:not(:last-child) {
      margin-right: 30px;
      }

      &__block {
      position: relative;
      }

      &__text {
      position: absolute;
      width: 100%;
      height: 70px;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-white-tx-bg-color);
      background-color: rgba(47, 48, 58, 0.8);
      }

@media screen and (min-width: 480px) and (max-width: 1199px) {
  display: none;
}
}

 