.hero,
.footer {
  background-color: var(--bgr-color-dark);
}

.hero-overlay {
  // max-width: 1600px;
  // height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-mob-1x.png);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

        @media screen and (max-width: 767px) {
          max-width: 100%;
          height: 400px;
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-mob-1x.png);
  
          @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/hero-bg-mob-2x.png);
          }
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
          max-width: 100%;
          height: 400px;
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/hero-bg-tab-1x.png);
  
          @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/hero-bg-tab-2x.png);
          }
        }

      @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-1x.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-2x.png);
        }
      }
    }

     
.hero {
  // padding-top: 200px;
  // padding-bottom: 200px;
  text-align: center;

   @media screen and (max-width: 767px) {
      padding-top: 118px;
      padding-bottom: 118px;
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-top: 118px;
      padding-bottom: 118px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
  }

    &__button {
    padding: 10px 32px;
    display: block;
    min-width: 200px;
    margin: auto;

    color: var(--primary-white-tx-bg-color);
    background-color: var(--accent-color);

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color var(--timing-duration) var(--timing-function), box-shadow var(--timing-duration) var(--timing-function);
    }

    &__button:hover,
    &__button:focus {
      background-color: var(--hero-btn-hover-focus);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }