.footer__logo-link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: inline-block;
  margin-right: 93px;
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

.header__logo-link {
  // padding-top: 24px;
  // padding-bottom: 24px;
  display: inline-block;
  // margin-right: 93px;
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  // font-size: 26px;
  text-decoration: none;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
  }

  @media screen and (min-width: 768px)  {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 26px;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer .footer__logo-link {
  padding: 0;
}

.logo-footer {
  margin-bottom: 20px;
  display: block;
}

.footer .logo-link {
  margin-right: 0;
}



.header__logo-text {
  color: var(--primary-text-color);
  font-size: 26px;
}

.footer--white-logo-text {
  color: var(--primary-white-tx-bg-color);
  font-size: 26px;
}